{% extends 'base.html' %}

{% block title %}
    Create new post
{% endblock %}

{% block content_title %}
    Create new post
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <form action="{{ url_for('posts.create_post') }}" method="POST">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label() }}
                        {{ field(class="form-control") }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}